{% load staticfiles %}
{% load bootstrap3 %}
{% load annaleut_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Annaleut</title>
    {% bootstrap_css %}
    <link href="{% static 'annaleut/style.css' %}" media="screen" rel="stylesheet" />
</head>

<body>
    <img id="annaleut-logo" src="{% static 'annaleut/adibou.jpg' %}" />
    <a href="https://github.com/trecouvr/annaleut">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;" src="https://github-camo.global.ssl.fastly.net/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'smart_search' %}">Annaleut</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% navactive request 'smart_search' %}">
                <a href="{% url 'smart_search' %}">Les annales</a>
            </li>
            <li class="{% navactive request 'upload_form' %}">
                <a href="{% url 'upload_form' %}">Upload</a>
            </li>
            <li class="{% navactive request 'wiki:root' %}">
                <a href="{% url 'wiki:root' %}">Wiki</a>
            </li>
            <li class="{% navactive request 'contact' %}">
                <a href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" style="padding-top: 50px;">
        {% block content %}{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    {% bootstrap_javascript %}

    {% block js %}{% endblock %}
</body>
</html>
