{% extends "fileuploader/base.html" %}
{% load bootstrap3 %}


{% block content %}
<h1>Les annales</h1>

<div>
<a href="{% url 'smart_search' %}">Recherche basique</a>
</div>


<div class="row">


<div class="col-md-4">
    <form role="form" class="form-horizontal" method="get">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" label_class="col-md-4" field_class="col-md-6" %}
        {% buttons submit="OK" layout="horizontal" %}{% endbuttons %}
    </form>
</div>

<div class="col-md-8">
{% include "fileuploader/include_upload_list.html" %}
</div>

</div>

{% endblock %}
